@media (max-width:767px) {
    .image img {
        max-width: 100%;
        max-height: 100%;
    }
    .title{
        margin-top: 100px;
    }
    .button{
        margin-bottom: 50px;
    }
}

@media (min-width:768px) {
    .image img {
        max-width: 240px;
        max-height: 240px;
    }
    .title{
        margin-top: 100px;
    }
    .button{
        margin-bottom: 50px;
    }
}

@media (min-width:992px) {
    .image img {
        max-width: 314px;
        max-height: 314px;
    }
    .title{
        margin-top: 100px;
    }
    .button{
        margin-bottom: 50px;
    }
    
}

@media (min-width:1200px) {
    .image img {
        max-width: 380px;
        max-height: 380px;
    }
    .title{
        margin-top: 100px;
    }
    .button{
        margin-bottom: 50px;
    }
}

.image{
    padding-top: 70px;
}

.title{
    text-align: center;
}
.description{
    text-align: center;
}
.button{
    text-align: center;
}
