.main{
    background-color: darkslateblue;
}
#button{
    height: 50px;
    border-radius: 8px;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}
#button_google{
    height: 50px;
    border-radius: 8px;
    width: 100%;
    color: black;
}
.login-form-forgot{
    float: right;
}
.inputShadow{
    box-shadow: 0px 4px 18px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 18px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 18px -11px rgba(0,0,0,0.75);
}




