.main{
    background-color: darkslateblue;
}
#button{
    height: 50px;
    border-radius: 8px;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}
#button_google{
    height: 50px;
    border-radius: 8px;
    width: 100%;
    color: black;
}
.login-form-forgot{
    float: right;
}



